.photo,
.skill,
.nav-btn,
.project {
  transition: transform 0.5s;
}
.photo:hover,
.skill:hover,
.nav-btn:hover,
.project:hover {
  transform: scale(1.1);
}
.summary,
.map-btn {
  transition: transform 0.5s;
}
.summary:hover,
.map-btn:hover {
  transform: scale(1.02);
}
